* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, select {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  color: #555;
  border-bottom: 1px solid #555;
}

select {
  margin: 0 5px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.btn {
  background: #555;
  display: inline-block;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background ease .2s;
}

.btn.disabled {
  background: #777;
  cursor: not-allowed;
}

.btn:hover {
  background: #777;
}

header {
  background: #ccc;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  padding: 30px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu > * {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
  color: #222;
}

.menu > *:hover {
  background: #bbb;
  border: none;
}

h2, .status {
  margin: 50px 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

#three-steps {
  margin-bottom: 1.5rem;
}

#three-steps > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: #ccc;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
}

.icon svg {
  width: 75px;
  height: 75px;
}

#toggle {
  grid-column: 1 / 4;
  max-width: 200px;
  margin: 1.5rem 0 3rem auto;
  text-align: right;
  margin-top: 30px;
  cursor: pointer;
  color: #777;
}

#toggle:hover {
  color: #555;
}

.editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
  height: 300px;
  font-size: 1rem;
  font-family: system-ui, sans-serif;
  padding: 10px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.editor p {
  margin-bottom: 0;
}

.btn-parent {
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 1.2rem;
  margin: 40px 10px;
}

.error {
  color: red;
}

hr {
  margin: 60px 0;
  border: none;
  border-top: 1px #ccc solid;
}

footer .container {
  text-align: center;
}

#first-step,
#second-step {
  height: 500px;
}

#second-step {
  display: none;
}

#loader {
  width: 70px;
  height: 70px;
  background: conic-gradient(#000, #fff);
  -webkit-mask: radial-gradient(transparent 34%, #000 35%, #000 49%, transparent 50%);
  mask: radial-gradient(transparent 34%, #000 35%, #000 49%, transparent 50%);
  animation: spin linear 3s infinite;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loading {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 650px) {
  .container {
    min-width: 650px;
    max-width: 75%;
  }

  header .container {
    /* display: grid;
    grid-template-columns: auto 1fr; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
  }

  h1 {
    /* grid-column: 1 / 2; */
    text-align: left;
  }
  
  h2 {
    font-size: 2.5rem;
  }

  #three-steps {
    /* display: flex; */
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #three-steps > div {
    /* flex: 1; */
  }

  .menu {
    /* grid-column: 2 / 3; */
    margin-left: auto;
    /* align-items: center; */
    align-self: stretch;
  }

  header .btn {
    margin: 0;
  }

  footer .container {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}